*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.green{color: green;}
.red{color: red;}
p{
    font-size: 25px;
}

button{
    font-size: 40px;
    padding: 10px;
    
  
}

span{
    font-size:40px ;
}
.clear{
    opacity: 0.2;
}

.anime{
  
   animation-name: zee;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
}

@keyframes zee{
 0%{
    opacity: 0;
    
   
}



100%{
    opacity: 1;
   
}
}

h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}